<div class="page-header clearfix">
  <h1 class="pull-left">Routes</h1>

  <div class="btn-group pull-right">
    <%= link_to routes_path, class: "btn btn-default #{'active' if current_page? routes_path}" do %>
      <span class="glyphicon glyphicon-align-left"></span>
    <% end %>

    <%= link_to new_route_path, class: "btn btn-default #{'active' if current_page? new_route_path}" do %>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  </div>
</div>