body {
  background: #E1F4F7;
}

.page-header {
  margin-top: -20px;

  .btn-group {
    margin-top: 30px;
  }
}

#wrapper {
  padding: 20px;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.10);
}