body {
  background: #1e94ba;
}

.page-header {
  margin-top: -20px;

  .btn-group {
    margin-top: 30px;
  }
}

#wrapper {
  padding: 20px;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.10);
}

table {
  a {
    &:hover {
      text-decoration: none;
    }

    .glyphicon {
      color: #18ae4d;
    }
  }
}
