<h1>Dashboard: Latest scores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Climb</th>
      <th>Latest Score</th>
    </tr>
  </thaed>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.last_climb_day %></td>
        <td><%= user.last_days_score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
